//colors
$main-blk: #202632;
$card-blk: #313A49;
$line-blk: #4F5D74;

$advice-green: #4ED09A;
$btn-green: #56FDAB;
$text-white: #DAEBF5;

$hover-shadow: 0px 0px 39px #56FDAB;

//font
$main-font: 'Manrope', sans-serif;


//Media Queries
$layout-breakpoint-small: 375px;
$layout-breakpoint-small-med: 450px;
$layout-breakpoint-med: 545px;





